<%= error_messages_for post %>
<%= form_for(post, :action => url(:post, post)) do %>
<fieldset>
  <legend><%= legend %></legend>
  <p><%= text_field :title, :label => 'Title' %></p>
  <p><%= text_area :body, :label => 'Body' %></p>
  <p><%= submit "Submit" %></p>
</fieldset>
<% end =%>